$basic-blue: #F2FAFD;
$violet: #DBCEE2;
$olive: #D3DCB5;
$green: #EDF4D4;
$orange: #EAD2C3;
$beige: #EBE1BE;
$turquoise: #AEDBD2;
$grey: #D0D9EB;
$dark-grey: #A0C3CC;
$basic-dark: #424242;
$tangerine: #E4965E;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Work+Sans:wght@200;300;400&display=swap');
$decorative-font: 'Playfair Display',
serif;
$basic-font: 'Work Sans',
sans-serif;