@import "../../../public/assets/_master.scss";
#island-1 {
    padding-top: 3rem;
    font-family: $basic-font;
    h2 {
        padding-bottom: 1rem;
        transition: 0.3s;
        &:hover {
            color: $tangerine;
            text-decoration: underline;
            cursor: pointer;
        }
        .arrows {
            color: $grey;
        }
    }
    .container-fluid {
        width: 80vw;
    }
}