@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Work+Sans:wght@200;300;400&display=swap");
.pin {
  padding: 0.5rem;
  cursor: pointer;
  font-family: "Work Sans", sans-serif;
}

.pin .card {
  border-radius: 0;
  transition: 0.3s;
}

.pin .card .container {
  position: relative;
  text-align: center;
  padding: 0 0 0 0;
}

.pin .card .container a {
  background-color: #D0D9EB;
  border-radius: 0;
  border: none;
  color: black;
  position: absolute;
  bottom: -16px;
  width: 30%;
  left: 35%;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.pin .card:hover {
  transform: translate(0, -6px);
}

.pin .card .card-body {
  -webkit-box-shadow: 5px 5px 18px 0px #D0D9EB;
  -moz-box-shadow: 5px 5px 18px 0px #D0D9EB;
  box-shadow: 5px 5px 18px 0px #D0D9EB;
  -webkit-box-shadow: -5px 0px 18px 0px #D0D9EB;
  -moz-box-shadow: -5px 0px 18px 0px #D0D9EB;
  box-shadow: -5px 0px 18px 0px #D0D9EB;
}

.pin .card .card-body .card-title {
  transition: 0.3s;
}

.pin .card .card-body .card-title:hover {
  color: #E4965E;
  text-decoration: underline;
}
