@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Work+Sans:wght@200;300;400&display=swap");
footer .container-fluid {
  width: 80vw;
}

footer .footer-info {
  padding: 3rem 1rem;
}

footer .footer-info a {
  color: black;
}

footer .footer-info .col {
  padding: 0 0 0 0;
}

footer .footer-info .col .footer-links {
  padding-left: 1rem;
}

footer .footer-info .col .footer-links a {
  color: grey;
}

footer .footer-info .col .category-btn {
  font-size: 1rem;
  padding: 0.2rem 1.5rem;
  margin: 1rem 0.1rem;
  border-radius: 0;
  border: none;
  color: black;
}

footer .footer-info .col #ctgr-1 {
  background-color: #DBCEE2;
}

footer .footer-info .col #ctgr-2 {
  background-color: #D3DCB5;
}

footer .footer-info .col #ctgr-3 {
  background-color: #EAD2C3;
}

footer .footer-info .col #ctgr-4 {
  background-color: #EBE1BE;
}

footer .footer-info .col #ctgr-5 {
  background-color: #AEDBD2;
}

footer .author {
  border-top-style: dashed;
  border-color: lightgrey;
  border-width: 2px;
  font-size: 1rem;
  padding: 1rem 1rem;
  width: 80vw;
}
